<footer >

  <div class="wrapper">

    <div class="footer">

      <div >
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">{{ site.github_username }}</span>
            </a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="username">{{ site.twitter_username }}</span>
            </a>
          {% endif %}
      
{{ site.description }}
      </div>
    </div>

  </div>

</footer>
